* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

body {
    background: linear-gradient(to right,#393E46,#222831);
}

.main-app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
}

nav {
    width: 100vw;
    height: 60px;
    display: flex; /*Met les éléments sur la même ligne*/
    justify-content: space-between; /*Rajoute de l'espace entre les éléments*/
    align-items: center; /*Met au milieu de la barre*/
    color: white;
    background-color: #222;
    -webkit-app-region: drag;
}

#logo {
    margin-left: 3mm;
    margin-top: 2mm;
    width: 5mm;
}

.title {
    display: contents; 
    margin-bottom: 5px;
    margin-left: 3mm;
}

.nav-link {
    -webkit-app-region: no-drag;
    padding: 17px;
    cursor: pointer;
    font-size: 1.3rem;
}

#parameters-page {
    color: #1dee85;
}

.nav-link:hover {
    background-color: #4A47A3;
    color: #222;
}

#close-app:hover {
    background-color: rgb(255, 74, 74);
    color: #222;
}

.mainApp > .contentArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* Generate Password Button */

#generatePasswordBtn {
    justify-content: center;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
}

#generatePasswordBtn:hover {
    background-color: #1dee85;
    cursor: pointer;
}

#generatePasswordBtn:active {
    background-color: #20c372;
    box-shadow: 0 0px 10px #000000;
    transform: translateY(4px);
}

/* Articles */

.mainPage > h1,
.password-options {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    border-radius: 5px;
}

.password-options {
    background: linear-gradient(to right,#7296d1,#1dee85);
}

.password-options > h2, .password-options > p {
    margin: 0.2rem;
    font-size: 1.5rem;
}

.password-options > img {
    background-repeat: no-repeat;
    width: 20px;
    padding-top: 11px;
    padding-right: 5px;
}

a, img {
    -webkit-user-drag: none;
    text-decoration: none;
}
textarea {
    resize: none;
}

#password, #length { 
    width: 99.4%;
    outline: none;
}

#message {
    background-image: url("../images/copy-two-paper-sheets-interface-symbol.png");
}

#copy {
    background-color: #4fb0e4;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 45%;
    margin-top: 5px;
}

#copy > img {
    width: 5mm;
    margin-left: 5px;
}

#copy:hover {
    background-color: #4c8caf;
    cursor: pointer;
}

#copy:active {
    background-color: #00c0eb;
    box-shadow: 0 0px 10px #000000;
    transform: translateY(2px);
}